<div class="search-container">
  <p>Enter the symbol of a stock to track ( i.e. AAPL, TSLA, GOOGL)</p>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter symbol of stock</mat-label>
      <input
        matInput
        placeholder="Ex. AAPL, TSLA, GOOGL"
        name="symbol"
        [(ngModel)]="symbol"
        value=""
      />
    </mat-form-field>
    <button
      class="track-btn"
      mat-stroked-button
      color="primary"
      (click)="tradeStock(); getCompanyName()"
    >
      Track Stock
    </button>
    {{ contents | json }}
  </form>
</div>
<div *ngIf="displayData.length > 0">
  <p>{{ displayData[0] | json }}</p>
  <div
    style=" border: 1px solid black;width: 500px;"
    *ngFor="let data of displayData; let i = index"
  >
    <div style="width:500px;height: 50px">
      {{ data.companyName }} <span>(</span>{{ data.symbol }}<span>)</span
      ><button style="float: right" (click)="removeStock(data.symbol)">
        X
      </button>
    </div>
    <div>
      <div>Change Today : {{ data.dp }}%</div>
      <div>Opening Price : ${{ data.o }}</div>
      <i *ngIf="data.dp < 0" class="material-icons" style="color: red"
        >trending_down</i
      ><i *ngIf="data.dp > 0" class="material-icons" style="color:green"
        >trending_up</i
      >
    </div>
    <div>
      <div>Price : $ {{ data.c }}</div>
      <div>High Price : $ {{ data.h }}</div>
    </div>
  </div>
</div>
